<app-header></app-header>
<app-home-hero-fragment></app-home-hero-fragment>

<!-- le reste de la page d'accueil sera ajouté plus tard -->
<section class="container container-narrow mb-5">
  <h2 class="mb-3" style="font-weight:700;">Popular Pre Matches</h2>
  <app-betting-carousel></app-betting-carousel>
</section>

<app-about-section></app-about-section>


<!-- ======= A PROPOS DE PROMOSPORT MACHINE (images simples) ======= -->
<br />
<section class="machine-simple">
  <div class="container container-narrow">
    <h2 class="section-title">
      Arrive bientôt!
    </h2>

    <!-- video machine -->
    <div class="img-wrap">
     <video src="/assets/spot.mp4" class="machine-video" controls></video>
    </div>

    <!-- Grille en dessous -->
    <div class="img-wrap">
      <img src="/assets/grille.png" alt="Grille Promosport" class="grille-img img-fluid">
    </div>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>

